<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <link href="{% static "css/menu.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUEM SOMOS</title>
    <link rel="icon" href="{% static "img/favicon.jpg" %}" type="image/x-icon" />
</head>


<body>
    <div id="div_principal">
        <header id="cabecalho">
            <img src="{% static "img/logo-01.jpg" %}" alt="TUDO MILITAR.LOGO">
            <h1> TUDO MILITAR </h1>
            <nav id="menu">
                <h2 id="titulo_menu">MENU PRINCIPAL</h2>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="concurso.html">CONCURSOS 2021</a></li>
                    <li><a href="curiosidades.html">CURIOSIDADES</a></li>
                    <li><a href="recomendamos.html">RECOMEDAMOS</a></li>
                    <li><a href="quemsomos.html">QUEM SOMOS</a></li>
                </ul>
            </nav>
        </header>
        <section id="artigos">
            <H1>
                BIOGRAFIA;
            </H1>
            <H3>
                SOMOS UM GRUPO DE ESTUDANTES DO CURSO PROGRAMADOR WEB
                <BR> DA INSTITUIÇÃO SENAC PIAUÍ.
            </H3>

            <P>
                E SE VOCÊ TAMBÊM QUISER APRENDER COMO PROGRAMAR E CRIAR SITES DO ZERO
                <BR> COMO ESTE CLIQUE NO BOTÃO ABAIXO E FAÇA A SUA MATRICULA ON-LINE.            </P>
            <p>
                <CENTER>
                    <button>
                        <a  target="_blank" href="https://www.pi.senac.br/">SENAC-PIAUÍ</a>
                    </button>
                </CENTER>
            </p>
            <h1>
                _______________________________________________________
            </h1>
            <H1>
                POR QUE CRIAMOS ESSE BLOG?
            </H1>
            <CENTER>
                <img src="{% static "img/pi.jpg" %}" alt="logo pi">
            </CENTER>
            <P>
                Na educação profissional, a aprendizagem orientada para o desenvolvimento de competências requer práticas pedagógicas que sejam capazes de ir além do domínio operacional de um determinado fazer. Tais práticas devem prever a compreensão global do processo
                produtivo, a apreensão do saber tecnológico e a valorização da cultura do trabalho1 . Alinhado a esse entendimento, o Senac tem investido esforços no sentido de viabilizar e promover um processo de ensino e aprendizagem centrado no desenvolvimento
                de competências e na plena formação do aluno, quem considera como agente de mudanças na sociedade e para o qual devem convergir todas as ações educativas. Esses esforços se materializam no Modelo Pedagógico Senac, que consiste na proposta
                de uma nova arquitetura de elaboração e oferta de cursos, na qual a competência é a própria Unidade Curricular. Em especial, o modelo prevê a criação de espaços privilegiados de aprendizagem, nos quais se promova a articulação das competências
                que compõem o perfil profissional de conclusão de um curso. Os Projetos Integradores são, nesse sentido, espaços importantes para a articulação das competências, capazes de contribuir para evidenciar as Marcas Formativas Senac e, principalmente,
                para o desenvolvimento do perfil profissional. A prática de projetos educacionais encontra sua sustentação nas concepções educacionais expressas nas Diretrizes de Educação Profissional do Senac, em especial na compreensão do trabalho como
                princípio educativo e da pesquisa como princípio pedagógico.
            </P>
            <h1>
                _______________________________________________________
            </h1>
            <H1>
                INTEGRANTES DO GRUPO
            </H1>
            <h3>
                JOHWFRAN THOBIAS.
            </h3>
            <p>
                <button>
                    <a  target="_blank" href="https://www.instagram.com/johwfran.dev?r=nametag">INSTAGRAM-JOHWFRAN</a>
                </button>
            </p>
            <H3>
                LUCAS OLIVEIRA.
            </H3>
            <p>
                <button>
                    <a  target="_blank" href="https://instagram.com/_llucasolliveiraa?igshid=1xacthy0zrh7n">INSTAGRAM-LUCAS</a>
                </button>
            </p>
            <H3>
                JOÃO VICTOR.
            </H3>
            <p>
                <button>
                    <a  target="_blank" href="https://instagram.com/joao_vittor_nunes?igshid=1arv6jbxci7mu">INSTAGRAM-JOÃO</a>
                </button>
            </p>
            <H3>
                JONIEL.
            </H3>
            <H3>
                DIEGO.
            </H3>

            <div id="voltarTopo">
                <a href="" id="subir">Voltar ao topo</a>
            </div>
        </section>

        <section id="lateral">

            <H1>DESTAQUES!</H1>

            <h2>Novas tecnologias.</h2>

            <h4>Fuzil IMBEL IA2 - Testado em condições extremas é aprovado!</h4>

            <iframe width="280" height="200" src="https://www.youtube.com/embed/joUgD59QJNo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>
                <button>
                    <a  target="_blank" href="https://www.youtube.com/channel/UCFn0o-IvrLrsCXcA0K2VVhw">EXÉRCITO BRASILEIRO.</a>
                </button>
            </p>
            <p>
                <button>
                    <a target="_blank" href="https://www.imbel.gov.br/index.php/fuzis/93">FUZIL - IMBEL - IA2.</a>
                </button>
            </p>
            <p>

            </p>
            <h1>
                Mísseis de alta tecnologia
            </h1>
            <h3 align="center">
                As Forças Armadas estão para ganhar artefatos de última geração, o que cria expectativas de exportações
            </h3>
            <img src="{% static "img/IMG-02.jpg" %}" width="280" height="200">
            <p>
                A indústria brasileira quer lançar quatro mísseis que vão reduzir a dependência do País das compras internacionais. Se der certo, talvez surja um novo período de exportações militares, como ocorreu entre o final dos anos 1970 e a década de 1980 — só que
                dessa vez com equipamentos mais caros. O primeiro míssil a entrar em operação deve ser o A-Darter, desenvolvido com a África do Sul.
            </p>
            <h3>
                VEJA O ARTIGO NA INTEGRA:
            </h3>
            <H3>
                <button>
                     <a target="_blank" href="https://istoe.com.br/misseis-de-alta-tecnologia/">CLIQUE AQUI</a>
                </button>
            </H3>
            <h1>
                _______________________
            </h1>
            <form>
                <h3>Defina seu nível de satisfação para com o Blog:<br></h3> <br>
                Pouco
                <input type="range" name="satisfacao" min="0" max="20">
                Muito
            </form>
        </section>

        <footer id="rodape">
            <strong>EXÉRCITO BRASILEIRO</strong> <br/> BRAÇO FORTE MÃO AMIGA
        </footer>
    </div>
</body>

</html>