<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <link href="{% static "css/menu.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECOMENDAMOS</title>
    <link rel="icon" href="{% static "img/favicon.jpg" %}" type="image/x-icon" />
</head>


<body>
    <div id="div_principal">
        <header id="cabecalho">
            <img src="{% static "img/logo-01.jpg" %}" alt="TUDO MILITAR.LOGO">
            <h1> TUDO MILITAR </h1>
            <nav id="menu">
                <h2 id="titulo_menu">MENU PRINCIPAL</h2>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="concurso.html">CONCURSOS 2021</a></li>
                    <li><a href="curiosidades.html">CURIOSIDADES</a></li>
                    <li><a href="recomendamos.html">RECOMEDAMOS</a></li>
                    <li><a href="quemsomos.html">QUEM SOMOS</a></li>
            </nav>
        </header>

        <section id="artigos">
            <h1>
                FILMES;
            </h1>
            <H3>
                - SNIPER AMERICANO
            </H3>
            <CENTER>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pQWb9hbkJcE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </CENTER>
            <p>
                Adaptado do livro "American Sniper: The Autobiography of the Most Lethal Sniper in U.S. Militar History", Sniper Americano conta a história real de Chris Kyle (Bradley Cooper), atirador de elite das forças especiais da marinha americana. Durante cerca
                de dez anos ele matou mais de 150 pessoas, tendo recebido diversas condecorações por sua atuação na Guerra do Iraque.
            </p>
            <h1>
                _______________________________________________________
            </h1>
            <h3>
                - ALERTA LOBO
            </h3>
            <CENTER>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XE200wIXV1k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </CENTER>
            <P>
                É interessante como o diretor Antonin Baudry concebe seu filme: enquanto as cenas subaquáticas são de uma tensão de se tremer, alimentadas pela claustrofobia óbvia das dependências de um submarino, a vida em terra passa com uma tranquilidade quase contemplativa.
                O desenho de som auxilia esse contraste imersivo, podendo dar a impressão que, na verdade, são dois filmes em um. O elenco, por outro lado, garante a unidade, transformando todo o cenário de dualidade em uma experiência realista. Alerta
                Lobo é um filme pouco comentado, mas que vale a conferida.
            </P>
            <h1>
                _______________________________________________________
            </h1>
            <H1>
                SÉRIES;
            </H1>
            <H3>
                - O ATIRADOR
            </H3>
            <CENTER>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5ELjX0ElcBg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </CENTER>
            <P>
                Bob Lee Swagger (Ryan Phillippe) é um atirador da elite naval que descobre um atentado contra o presidente dos Estados Unidos. Ao tentar impedir este assassinato, ele é traído e se torna o principal suspeito do crime. Enquanto é caçado, Swagger terá que
                encontrar uma forma de provar sua inocência.
            </P>

            <div id="voltarTopo">
                <a href="" id="subir">Voltar ao topo</a>
            </div>
        </section>

        <section id="lateral">
            <H1>DESTAQUES!</H1>

            <h2>Novas tecnologias.</h2>

            <h4>Fuzil IMBEL IA2 - Testado em condições extremas é aprovado!</h4>

            <iframe width="280" height="200" src="https://www.youtube.com/embed/joUgD59QJNo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p>
                <button>
                    <a  target="_blank" href="https://www.youtube.com/channel/UCFn0o-IvrLrsCXcA0K2VVhw">EXÉRCITO BRASILEIRO.</a>
                </button>
            </p>
            <p>
                <button>
                    <a target="_blank" href="https://www.imbel.gov.br/index.php/fuzis/93">FUZIL - IMBEL - IA2.</a>
                </button>
            </p>
            <p>

            </p>
            <h1>
                Mísseis de alta tecnologia
            </h1>
            <h3 align="center">
                As Forças Armadas estão para ganhar artefatos de última geração, o que cria expectativas de exportações
            </h3>
            <img src="{% static "img/IMG-02.jpg" %}" width="280" height="200">
            <p>
                A indústria brasileira quer lançar quatro mísseis que vão reduzir a dependência do País das compras internacionais. Se der certo, talvez surja um novo período de exportações militares, como ocorreu entre o final dos anos 1970 e a década de 1980 — só que
                dessa vez com equipamentos mais caros. O primeiro míssil a entrar em operação deve ser o A-Darter, desenvolvido com a África do Sul. É uma arma antiaérea de curto alcance lançada de um caça, como o sueco Gripen, que o Brasil pretende comprar
                e que os sul-africanos já utilizam. Ágil e capaz de travar um alvo a vinte quilômetros, o A-Darter vai permitir que dois países em desenvolvimento concorram com EUA, Rússia, China, Israel e consórcios europeus. O investimento brasileiro
                foi de US$ 130 milhões ao longo de treze anos. O projeto que mais atrasou é o do MSS 1.2 AC, um míssil anticarro para o Exército. Solicitado em 1986, foi prejudicado pela falência de empresas envolvidas e será incorporado a partir de 2020
                . O equipamento é carregado por dois soldados e pode “neutralizar” qualquer veículo blindado. Não que vá pulverizar tanques russos ou americanos. “Basta um tiro na esteira para tirar de combate”, informa o Exército. O MTC-300 Matador é
                um míssil pesado disparado de caminhões Astro.
            </p>
            <h3>
                VEJA O ARTIGO NA INTEGRA:
            </h3>
            <button>
                <a target="_blank" href="https://istoe.com.br/misseis-de-alta-tecnologia/">CLIQUE AQUI</a>
            </button>

        </section>

        <footer id="rodape">
            <strong>EXÉRCITO BRASILEIRO</strong> <br/> BRAÇO FORTE MÃO AMIGA
        </footer>
    </div>
</body>

</html>